body {
    background-color: #FFFFFF;
}

h1 {
    text-align: center;
    color: #000000;
}

.informacao p{
    text-align: center;
}

.subtitulo h3 {
    text-align: center;
}

fieldset {
    width: 50%;
    margin: 0px auto; 
}

.informacao_curso_introducao img {
    width: 400px;
}

.informacao_curso_python img {
    width: 400px;
}

